<ion-view view-title="훈련">
  
<ion-header-bar class="bar-stable lrp-bar-top lrp-header-padding lrp-header-bottomless">
    <div class="div-flex"><h3>{{lrpModel.pageTag[lrpModel.statePage]}}</h3></div>
</ion-header-bar>

<ion-content direction="y" has-bouncing="false" style="width: initial;">
<div id="lrpOuterList"></div>            
<div id="con_lf">
    
    <!--div class="new_con_cm svc_01">
       
        <div class="sv_wr">
            <p>기능 훈련을 선택하세요.</p> 
            <div class="sv_pg" ng-click="menuActivate(2,'LT')">
                <img src="./img/res/btn_01.gif"><br>
                언어기능훈련[LT]</h3>
            </div>
            <div class="sv_pg" ng-click="menuActivate(2, 'RT')">
                <img src="./img/res/btn_02.gif"><br>
                인지기능훈련[RT]
            </div>
        </div>
    </div-->
    
    <div id="detailWrap">
        
    	<div class="contents">
    		<h3>기능 훈련을 선택하세요</h3>
    
    		<ul>
    			<li><a href="#" ng-click="menuActivate(2,'LT')"><img src="./img/res/sub_lr.png" alt="" /></a></li>
    			<li><a href="#" ng-click="menuActivate(2,'RT')"><img src="./img/res/sub_rt.png" alt="" /></a></li>
    		</ul>
    	</div>
    	
    	
    </div>
</div>

</ion-content>

</ion-view>  